config/parameters.yml
config/services_prod.yml


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/images
updates.db
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/mercure
/run_mercure.sh