{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('main') }}
{% endblock %}


{% block body %}
    <!-- Page Content  -->
    <div id="app">

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}
